* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #242424;
}

body::-webkit-scrollbar-thumb {
  background: #ffff;
  border-radius: 5px;
  border: 5px solid #242424;
  border-top: none;
  border-bottom: none;
}

header {
  overflow: hidden;
  color: #ffff;
  text-align: center;
  padding: 60px 0;
  height: 280px;
  position: relative;
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  height: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(orange), color-stop(yellow), color-stop(lightgreen), color-stop(lime), to(lightblue));
  background-image: linear-gradient(to right, red, orange, yellow, lightgreen, lime, lightblue);
}

@media (min-width: 768px) {
  header {
    height: 250px;
  }
}

header .content {
  position: relative;
  z-index: 3;
}

header .content h1 {
  letter-spacing: 20px;
  word-spacing: 0 !important;
  font-weight: 500;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (min-width: 576px) {
  header .content h1 {
    letter-spacing: 30px;
  }
}

header .content p {
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 0.9375rem;
}

@media (min-width: 576px) {
  header .content p {
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}

header .deco {
  position: absolute;
}

header .deco1 {
  top: -40px;
  left: 60px;
  font-size: 100px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  color: #303030;
}

@media (min-width: 992px) {
  header .deco1 {
    font-size: 200px;
  }
}

header .deco2 {
  font-size: 150px;
  right: 0;
  bottom: -40px;
  color: #303030;
}

@media (min-width: 992px) {
  header .deco2 {
    font-size: 300px;
  }
}

main section#search-menu .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -35px;
  border-radius: 9px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

main section#search-menu .searchbar input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 30px 14px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

main section#search-menu .searchbar button {
  width: 100px;
  height: 70px;
  outline: none;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main section#search-menu .searchbar button:hover {
  font-size: 25px;
}

main section#recomendation {
  padding: 100px 0;
}

main section#recomendation .card-list {
  overflow: auto;
  white-space: nowrap;
  cursor: -webkit-grab;
  cursor: grab;
}

main section#recomendation .card-list::-webkit-scrollbar {
  visibility: hidden;
}

main section#recomendation .card-item {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  width: 160px;
  margin: 4px;
}

main section#recomendation .card-item:hover {
  cursor: pointer;
}

main section#recomendation .card-item:hover .view-ico {
  visibility: visible;
  -webkit-filter: none;
          filter: none;
}

main section#recomendation .card-item:hover .image {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section#recomendation .card-item .view-ico {
  visibility: hidden;
  position: absolute;
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
  bottom: 50%;
  right: 50%;
  width: 60px;
}

main section#recomendation .card-item img {
  width: 160px;
}
/*# sourceMappingURL=app.css.map */